<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Digiphoto.Lumen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Digiphoto.Lumen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <userSettings>
    <Digiphoto.Lumen.Properties.Settings>
      <setting name="giorniDeleteFoto" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="dbCartella" serializeAs="String">
        <value />
      </setting>
      <setting name="cartellaFoto" serializeAs="String">
        <value />
      </setting>
      <setting name="dbCartella2" serializeAs="String">
        <value>%PROGRAMDATA%\Lumen</value>
      </setting>
      <setting name="dbCartella1" serializeAs="String">
        <value>%APPDATA%\Lumen</value>
      </setting>
      <setting name="pixelLatoProvino" serializeAs="String">
        <value>300</value>
      </setting>
    </Digiphoto.Lumen.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Digiphoto.Lumen.Properties.Settings>
      <setting name="dbNomeDbVuoto" serializeAs="String">
        <value>dbvuoto.sdf</value>
      </setting>
      <setting name="dbNomeDbPieno" serializeAs="String">
        <value>database.sdf</value>
      </setting>
      <setting name="oraCambioGiornata" serializeAs="String">
        <value>05:30</value>
      </setting>
      <setting name="estensioniGrafiche" serializeAs="String">
        <value>*.jpg;*.jpeg;*.png;*.tif;*.tiff</value>
      </setting>
    </Digiphoto.Lumen.Properties.Settings>
  </applicationSettings>
  
</configuration>