body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-lg {
	font-size: 32px;
}

input#btn-cerca {
	vertical-align: bottom; 
	margin-left: 8px;
}

a.lnk-dwnl-zip {
	background: url(../Images/zip_file_download.svg) no-repeat center ; 
	 display: block;
     min-width: 128px;
     min-height: 128px;
     text-indent: -99999px; /* hides the link text */
}

div#riga-pulsantoni {
}

div#riga-pulsantoni figure.bottoncione {
	border: 1px solid lightgrey;
}

div#riga-pulsantoni figure.bottoncione img {
	max-width: 128px;
	max-height: 128px;
}
