<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
		
			<netTcpBinding>
				<!-- devo aumentare la dimensione dei messaggi di ritorno dal server, 
				     perché il valore di default è 65 Kb e quando ritorno lo stream di byte di una foto non sono sufficienti 
				-->
				<binding name="myNetTcpBinding" maxReceivedMessageSize="64000000" maxBufferSize="64000000" >
					<!-- lavoro senza sicurezza, altrimenti funziona solo da/per localhost e non dalla rete -->
					<security mode="None" >
						<transport clientCredentialType="None" />
						<message clientCredentialType="None" />
					</security>
				</binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8523/Digiphoto.Lumen.SelfService/SelfService"
					  binding="netTcpBinding" bindingConfiguration="myNetTcpBinding"
					  contract="SelfServiceReference.ISelfService" name="netTcpBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
		
    </system.serviceModel>
</configuration>
