<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="myNetTcpEndPoint" maxReceivedMessageSize="64000000" maxBufferSize="64000000">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8523/Digiphoto.Lumen.SelfService/SelfService"
                binding="netTcpBinding" bindingConfiguration="myNetTcpEndPoint"
                contract="SelfServiceReference.ISelfService" name="myNetTcpEndPoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
		
    </system.serviceModel>
</configuration>
