@model System.String

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SelfService Error</title>
</head>
<body>
	<div>
		<div class="alert alert-warning" role="alert">
			<h1>Error</h1>
			<p>There is an error in your request ! Verify parameters</p>
			<p>@Html.DisplayFor( Model => Model )</p>
		</div>

		<div class="container text-center" id="riga-pulsantoni">
			<figure class="bottoncione">
				<a href='@Url.Action("Index", "Home" )'>
					<img src='@Url.Content("~/images/home.svg")' />
				</a>
				<figcaption>Back to home</figcaption>
			</figure>
		</div>

	</div>
</body>
</html>
