@model System.String

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SelfService Error</title>
</head>
<body>
	<div>
		<h1>Errore</h1>
		<p>Si è verificato un errore nella tua richiesta !</p>
		<p>@Html.DisplayFor( Model => Model )</p>

		@Html.ActionLink( "Back to Index", "Index", "Home" )
	</div>
</body>
</html>
