@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lumen SelfService è l'applicazione creata da digiPHOTO srl per servire i clienti di questo centro turistico. <br />
	Per maggiori informazioni visita il nostro sito <a href="http://www.digiphoto.it">www.digiphoto.it</a></p>
