@{
    ViewBag.Title = "digiPHOTO - Self Service";
}

<div class="jumbotron">
	<h2>digiPHOTO - Self Service</h2>
</div>

<div class="row">
		
	<div class="col-md-3">
		<img src="@Url.Action( "GetLogo" )" width="200" />
	</div>
	<div class="col-md-9">
		
		<p><img src="~/images/Italy_Flag_32x32.png" />
			Acquista le foto nel nostro punto vendita, e scarica direttamente i file sul tuo dispositio mobile.
			<br />
			Inserisci qui il codice di acquisto che ti viene consegnato alla cassa.
		</p>
		<p style="margin-top: 20px;">
			<img src=" ~/images/England_Flag_32x32.png" />
			Buy your photos in our store and download the images directly to your mobile device.
			<br />
			Enter here the purchase code provided to you at the cash desk.
		</p>

		<div style="margin-top: 20px;">
			@using( Html.BeginForm( "Details", "Carrello" ) ) {
				@Html.TextBox( "id", null, new {
					@class = "input-lg",
					data_rule_required = "true"
				} );
				<input type="image" value="" src="/images/search_48x48.png" style='vertical-align: bottom; margin-left: 8px;' onclick="this.form.submit();" />
			}
		</div>

	</div>
</div>