@{
    ViewBag.Title = "digiPHOTO - Self Service";
}

<div>

	@using( Html.BeginForm( "Details", "Carrello" ) ) {
		<label>Code:</label>
		@Html.TextBox( "id", null, new {
	   @class = "input-lg",
	   data_rule_required = "true",
	   @autofocus = "autofocus"
   } );
		<input name="btn-cerca" id="btn-cerca" type="image" src="/images/search_48x48.png" 
			   onclick="this.form.submit();" title="Search" />
	}
</div>

<div>
	<h4 style="text-align:center">Photo Self Service</h4>
</div>

<div class="row">
		
	<div class="col-md-3">
		<img src="@Url.Action( "GetLogo" )" width="200" />
	</div>
	<div class="col-md-9">
		
		<p style="font-size: large;"><img src="~/images/Italy_Flag_32x32.png" />
			Acquista le foto nel nostro punto vendita, e scarica direttamente i file sul tuo dispositio mobile.
			<br />
			Inserisci qui il <strong>codice di acquisto</strong> che ti viene consegnato alla cassa.
		</p>
		<p style="font-size: large; margin-top: 20px;">
			<img src=" ~/images/England_Flag_32x32.png" />
			Buy your photos in our store and download the images directly to your mobile device.
			<br />
			Enter here the <strong>purchase code</strong> provided to you at the cash desk.
		</p>



	</div>
</div>