body {
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    background-color: #141414;
    color: #FFFFFF;
    width: 98%;
    font-size: 24px;    
    font-family: Verdana;
}


/* tablet */
@media all and (max-width: 1024px) {
}

/* mobile phone */
@media all and (max-width: 768px) {
}


.intestazione {
    font-size: 28px;
}

#ListViewFotografi_div
{
    margin-top: 20px;
}

#ListViewFotografi_ul
{
    list-style: none;
    margin:0px;
    padding:0px;
}

#ListViewFotografi_div li.elem div.diapo {
    display: block;
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
}

.img-fotografo
{
}

div#language-selector
{
    margin-top: 20px;
    float: none;
}

ul#lista-bandiere
{
    list-style: none;
    margin:0px;
    padding:0px;
}

ul#lista-bandiere li div {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-left: 40px;
}


a.button-link
{
     display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

    padding: 10px 15px;
    color: white;

    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

    font-size: 24px;
}

#linkButtonNavIndietro
{
    float: left;
}

#linkButtonNavAvanti
{
    float: right;
}

ul.listaFotografi
{
    list-style: none;
}

.intestazione
{
    background: -webkit-linear-gradient(#161616, #A0A0A0); /* For Safari 5.1 to 6.0 */
    background-image: linear-gradient(to top right, #161616 0%, #A0A0A0 100%);
    background-image: -moz-linear-gradient(top right, #161616 0%, #A0A0A0 100%);
    border-left: 10px solid wheat;
    padding-left: 10px;
    margin-bottom: 6px;
}



.spiegazione
{
}

.navigazione
{
    padding-top: 6px;
    border-top: 1px dashed gray;
    margin-top: 15px;
}

div.navigazione #linkButtonNavAvanti
{
    text-align: left;
    background-image: url(../images/right_arrow-64.png);
    background-position-x: right;
    background-position-y: center;
    background-position: right;
    background-repeat: no-repeat;
}

div.navigazione #linkButtonNavIndietro
{
    text-align: right;
    background-image: url(../images/left_arrow-64.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-position: left;
}

#pag-scelta-giorno ul#lista-giorni
{
    list-style: none;
    margin:0px;
    padding:0px;
}

#pag-scelta-giorno div#corpo
{
    margin-top: 20px;
    width: 100%;

}

#pag-scelta-giorno div#quale-giorno
{
    width: 38%;
    float: left;
    display: block;
    text-align: center;
}


#pag-scelta-giorno div#scegli-giorno
{
    width: 58%;
    padding: 2px;
    float: left;
    display: block;
    text-align: center;
}

#pag-scelta-giorno div#scegli-giorno table#GiornoIniz
{
    margin: 0 auto;
}


#pag-scelta-giorno .btn-ric-giorno
{
    height: 70px;
    min-width: 280px;
    font-size: 20px; 
    margin: 6px;
}


#container-sposta{
    left: 0;
    position: fixed;
    top: 40%;
    width: 100%;
}

#popup-sposta-next,
#popup-sposta-prev
{
    position: relative;
    display: block;
/*    background-color: pink;  */
    width: 128px;
    height: 128px;  
    z-index:300;
}

#popup-sposta-prev
{
    left: 0;
    float: left;
}

#popup-sposta-next
{
    right: 0;
    float: right;
}

#foto-explorer .freccia-sposta
{
}

#foto-explorer .aspNetDisabled.freccia-sposta
{
   opacity: 0.3;
   filter: alpha(opacity=40);
   zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
}

#foto-explorer #pulsantiera #btnGoHome
{
    width: 220px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url(../images/home-64.png);
    background-size: 54px;
    min-height: 44px;
    min-width: 130px;
    margin: 4px;
    background-position: left;
}

#foto-explorer #pulsantiera
{
    background: -webkit-linear-gradient(#161616, #A0A0A0); /* For Safari 5.1 to 6.0 */
    background-image: linear-gradient(to top right, #161616 0%, #A0A0A0 100%);
    background-image: -moz-linear-gradient(top right, #161616 0%, #A0A0A0 100%);
    border-left: 10px solid wheat;
    padding-left: 10px;
    margin-bottom: 6px;
}



#foto-explorer #foto-container .foto
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}


#foto-explorer #foto-container .foto .foto-img
{
    position: relative; 
    width: 100%;
    z-index: 0;
}

#foto-explorer #foto-container .foto .copertura
{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: inline-block;
    top: 0;
    left: 0;
}



    #foto-explorer #foto-container .foto .foto-label
    {
        z-index: 100;
        display: inline-block;
        position: absolute;
        right: 2px;
        top: 2px;
        width: auto;
        background-color: orange;
        color: black;
        opacity: 0.8; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
        filter: alpha(opacity=80); /* for <= IE 8 */
        font-size: 24px;
        text-align: center;
        border: 1px solid darkblue;
    }

    #foto-explorer #foto-container .foto .foto-watermark
    {
        z-index: 50;
        font-size: 14px;
        color: white;
        position: absolute;
        opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
        filter: alpha(opacity=50); /* for <= IE 8 */

        -ms-transform: rotate(10deg);      /* IE 9 */
        -webkit-transform: rotate(10deg);  /* Chrome, Safari, Opera */
        transform: rotate(10deg);

        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.5px;
  
    }

/*
    #foto-explorer #foto-container .foto #WaterMark1
    {
        left: 20px;
        top: 10px;
    }

    #foto-explorer #foto-container .foto #WaterMark2
    {
        left: 70px;
        top: 40px;
    }

    #foto-explorer #foto-container .foto #WaterMark3
    {
        left: 120px;    
        top: 70px;
    }

    #foto-explorer #foto-container .foto #WaterMark4
    {
        left: 170px;
        top: 100px;
    }

    #foto-explorer #foto-container .foto #WaterMark5
    {
        left: 220px;
        top: 130px;
    }

    #foto-explorer #foto-container .foto #WaterMark6
    {
        left: 20px;
        top: 70px;
    }

    #foto-explorer #foto-container .foto #WaterMark7
    {
        left: 70px;
        top: 100px;
    }

    #foto-explorer #foto-container .foto #WaterMark8
    {
        left: 120px;
        top: 130px;
    }

    #foto-explorer #foto-container .foto #WaterMark9
    {
        left: 170px;
        top: 160px;
    }

    #foto-explorer #foto-container .foto #WaterMark10
    {
        left: 220px;
        top: 190px;
    }

    #foto-explorer #foto-container .foto #WaterMark11
    {
        left: 40px;
        top: 160px;
    }

    #foto-explorer #foto-container .foto #WaterMark12
    {
        left: 90px;
        top: 190px;
    }

    #foto-explorer #foto-container .foto #WaterMark13
    {
        left: 170px;    
        top: 220px;
    }

    #foto-explorer #foto-container .foto #WaterMark14
    {
        left: 220px;
        top: 250px;
    }

    #foto-explorer #foto-container .foto #WaterMark15
    {
        left: 270px;
        top: 280px;
    }

    #foto-explorer #foto-container .foto #WaterMark16
    {
        left: 20px;
        top: 190px;
    }

    #foto-explorer #foto-container .foto #WaterMark17
    {
        left: 70px;
        top: 220px;
    }

    #foto-explorer #foto-container .foto #WaterMark18
    {
        left: 120px;
        top: 250px;
    }

    #foto-explorer #foto-container .foto #WaterMark19
    {
        left: 170px;
        top: 280px; 
    }

    #foto-explorer #foto-container .foto #WaterMark20
    {
        left: 220px;
        top: 310px;
    }
*/