
body
{
    margin-top: 1%;
}

div#ListViewFotografi_div
{
    height: 250px;
    overflow-x: auto;
    overflow-y: no-content;
}

a.button-link
{
    min-width: 160px;
    min-height: 36px;
}

.img-fotografo
{
    height: 120px;
}

div#quale-giorno
{
    margin-top: 25px;
}

body#pag-scelta-giorno
{
    width: 94%;
}

body#home
{
    width: 64%;
}

div#image-container img
{
    height: 200px;
}

div#pusantiera
{
    height: 200px;
}

.bottone-spostamento
{
}

img.foto-immagine
{
    height: 200px;
}