body
{
    margin-top: 2%;
    font-size: 24px;
}

div.intestazione
{
    font-size: 32px;
}

div.spiegazione
{
    font-size: 28px;
}

.navigazione a.button-link
{
    min-width: 200px;
    min-height: 70px;
    font-size: 34px;
}

.img-fotografo
{
    margin-top: 12px;
    height: 200px;
}

div#quale-giorno
{
    margin-top: 50px;
}

body#pag-scelta-giorno
{
    width: 90%;
}

body#home
{
    width: 90%;
}

img.img-foto
{
    height: 100px;
}

div#image-container img
{
    height: 350px;
}

/* EXPLORER */

#foto-explorer div#pulsantiera
{
    height: 50px;
}


#foto-explorer #pulsantiera #btnGoHome
{
    min-height: 60px;
}
