<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <connectionStrings>
    <add name="LumenEntities-sqLite"
          connectionString="metadata=res://*/LumenModel3.csdl|res://*/LumenModel3.ssdl|res://*/LumenModel3.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=|DataDirectory|\database.sqlite;foreign keys=true;BinaryGuid=False&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
</configuration>